# Build Outputs
/bin
/dist
/provider/dist
**/schema-embed.json

# These SDKs don't need to be commited
# to be published.
/sdk/dotnet
/sdk/java
/sdk/nodejs
/sdk/python

# Pulumi
.pulumi
Pulumi.*.yaml
